
/* For laptop */
html{
    background-color:#bebebe;
    scroll-behavior: smooth;
}

.body_wrap{
    max-width: 1024px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 15px;
    background-color:#D9D9D9;
}

[id] {
  scroll-margin-top: 80px; 
}

/* navigation*/
nav{
    margin: auto;
    margin-top: 1%; 
    max-height: 100px;
    min-height: 80px;
    background-color:#002C5F;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.mini_nav{
    background-color:#002C5F;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5px;
    max-width: 1024px;
    width:100%;
}

.mini_nav h1{
    color: #88CC00;
    font-size: 1.5rem;
    text-align: center;
}

/* mini nav when burger menu on tablet and phone is opened*/
.mini_nav.inactive {
    background-color: #639700;
}

.mini_nav.inactive h1{
    color: #002C5F; 
}

.mini_nav.inactive a{
    color: #002C5F; 
    border-color: #639700;
    pointer-events: none
}

/* logo */
.logo{
    display: flex;
    flex: 1;
    width: 50%;
}

.logo img{
    max-width: 50%;
    display: block;
}

/* links to other pages or sections*/
.laptop_links, .mini_nav_links{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.laptop_links a, .mini_nav_links a{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #002C5F;
    box-sizing:border-box;
    display: flex;
    text-decoration: none; 
}

.laptop_links .selected, .tablet_links .selected, .phone_links .selected{
    background-color:#000599;
}

.tablet_links{
    display: none;
}

/* header */
header img{
    max-width: 100%;
    height: auto;
    /* aspect-ratio: 1954/1183; */
}

/* sections */
.section_1, .section_2, .map{
    background-color: #88CC00;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}

.image_container{
    display: block;
    flex: 1;
    margin: 10px;
}

.image_col1, .image_col2{
    display: block;
    height: 25%;
}

.image_col1 img, .image_col2 img {
    width: 50%;
    height: auto;
    /* aspect-ratio: 4/3; */
}

.image_col2 img{
    float: right;
}

.phone_image_container{
    display: none;
}

.text_container{
    flex: 2;
    margin: 10px;
}

/* cards */

.cards_container{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.cards{
    width: 30%;
    display: block;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #bebebe;
    border: 3px solid #bebebe;
}

.cards a{
    color: black;
}

.cards img{
    width: 100%;
    height: auto;
    /* aspect-ratio: 4/3; */
}

.cards.selected{
    border-color: #88CC00;
    background-color: #88CC00;

}

/* map */
.map{
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
}

iframe{
    display: block;
    width: 100%;
}

.tablet_map, .phone_map{
    display: none;
}

/* all hovers for laptop, not for other smaller devices */
@media (hover: hover) {
    .laptop_links a:hover, .tablet_links a:hover, .mini_nav_links a:hover{
        background-color: #004B6B; 
    }
    
    .cards:hover{
        border-color: #004faa;
        background-color: #004faa;
    }
}

/* text and links*/

h1, a{
    font-family: "Elms Sans", sans-serif;
    line-height: 1.5;
}

h1{
    font-size: 2rem;
}

a{
    font-size: 1.5rem;
    color:#88CC00;
}

p{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}



/* For tablet */
@media (max-width:768px){
    /* nav */
    .tablet_links{
        display: block;
        flex:1;
        justify-content: center;
        position: relative; 
    }

    /* burgur menu icon*/
    i{
        font-size: 3rem;
        color:#88CC00;
        padding: 20px;
        z-index: 2;
        float: right;
        margin-right: 20px;
    }

    /* mini nav */
    .mini_nav{
        font-size: 1rem;
    }

    .links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%; 
        right: 20px; 
        width: 50%;
        background-color:#002C5F;
        z-index: 100;
    }

    .links a{
        color: #88CC00;
        display: block;
        flex: 1;
        line-height: 2;
        text-align: center;
    }

    .laptop_links{
        display: none;
    }

    /* sections */

    .image_col1, .image_col2{
        height: 33%;
    }

    .image_col1 img, .image_col2 img {
        min-width: 100%;
        height: auto;
        margin: 5px;
        float: none;
    }

    .hide_on_tablet{
        display: none;
    }

    /* map */

    .tablet_map{
        display: block;
    }

    .laptop_map, .phone_map{
        display: none;
    }
    
}

/* For phone */
@media (max-width:480px){

    /* burgur menu icon*/
    i{
        float: right;
        margin-right: 10px;
    }


    /* nav and mini nav adjustments*/
    nav a{
        font-size: 1.3rem;
    }
    
    .mini_nav .mini_nav_links a, .mini_nav h1{
        font-size: 1.25rem;
    }

    /* sections */
    .section_2{
        display:block;
    }

    /* sections */
    .section_1{
        flex-direction: column-reverse;
        
}

    .hide_on_phone{
        display: none;
    }


    /* cards */
    .cards_container{
        display: block;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .cards{
        width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cards a{
        font-size: 1rem;
        color: black;
    }

    .cards img{
        width: 100%;
        height: auto;
    }


    /* map */
    .phone_map{
        display: block;
    }

    .laptop_map, .tablet_map{
        display: none;
    }


    /* text and links*/
    h1{
        font-size: 1.5rem;
        line-height: 1.25;
    }

    p{
        font-size: 0.95rem;
    }



}
